absl-py==2.4.0
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
cloudpickle==3.1.2
dm-env==1.6
dm-tree==0.1.9
dm_control==1.0.28
etils==1.13.0
Farama-Notifications==0.0.4
flatten-dict==0.4.2
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
glfw==2.10.0
gymnasium==0.29.1
h5py==3.16.0
idna==3.11
importlib_resources==6.5.2
labmaze==1.0.6
lxml==6.0.2
mujoco==3.3.0
MyoSuite==2.11.6
numpy==2.2.6
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pillow==12.1.1
pink-noise-rl==2.0.1
protobuf==7.34.1
PyOpenGL==3.1.10
pyparsing==3.3.2
requests==2.33.0
scipy==1.15.3
six==1.17.0
sk-video==1.1.10
smmap==5.0.3
termcolor==3.3.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
wrapt==2.1.2
zipp==3.23.0
